---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;
---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row-reverse sm:py-4"
  >
    <Socials />
    <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row">
      <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        target="_blank"
        rel="noopener noreferrer"
        class="hover:text-accent underline decoration-dashed underline-offset-4"
      >
        CC BY-NC-SA 4.0
      </a>
      <span>&nbsp;2026-至今 © Carl You</span>
    </div>
  </div>
</footer>
